<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Log In Servlet -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.shop.Servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbInitServlet</servlet-name>
        <servlet-class>com.shop.utils.DbInitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <!-- Cart Servlet -->
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.shop.Servlets.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <!-- Product Servlet -->
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.shop.Servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbInitServlet</servlet-name>
        <url-pattern>/DbInitServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
